body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #111;
}

header {
    background: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 55px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 75vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    color: white;
}

.tagline {
    color: #cceaff;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-btn {
    background: #66bfff;
    padding: 12px 30px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.section {
    padding: 50px 20px;
}

.center {
    text-align: center;
}

.features {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.feature-card {
    background: white;
    padding: 20px;
    width: 28%;
    border-radius: 10px;
    text-align: center;
}

.feature-card img {
    width: 100%;
    border-radius: 10px;
}

.package, .addon {
    background: white;
    padding: 20px;
    margin: 15px auto;
    max-width: 600px;
    border-radius: 8px;
    border-left: 5px solid #66bfff;
}

.price {
    color: #007bff;
    font-weight: bold;
}

.contact-box {
    background: white;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto 30px auto;
    border-radius: 8px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    background: #66bfff;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
    margin-top: 40px;
}
